/* Title */
@font-face {
  font-family: "Miki";
  src: url("font/MikiesChristmasList.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "afacad";
  src: url("font/Afacad-VariableFont_wght.ttf") format("trueType");
  font-weight: normal;
  font-style: bold;
}

body {
  font-family: "afacad", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Center wrapper */
.title-wrapper {
  width: 100%;
  text-align: center; 
}

/* H1 with underline */
.curve-title {
  font-family: "Miki", sans-serif;
  font-size: 38px;
  color: blue;
  font-weight: 400;
  position: relative;
  display: inline-block; 
  margin: 20px auto 0;
}

/* Curved underline */
.curve-title::after {
  content: "";
  position: absolute;
  bottom: -72px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height:80px;
  background-image: url("assets/book-underline.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.photo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 40px;
  width: 80%;
  margin: 40px auto;
}

.photo-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.text-container{
  text-align: justify;
    font-family: "afacad", sans-serif;
    font-weight: 400;
    width: 80%;
    margin: 0 auto 40px auto;
    font-size: 18px;
    line-height: 1.6;
    color: #2727FF;
}


