
@font-face {
  font-family: "Miki";
  src: url("font/MikiesChristmasList.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "afacad";
  src: url("font/Afacad-VariableFont_wght.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: "afacad", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Center wrapper */
.title-wrapper {
  width: 100%;
  text-align: center; 
}

/* H1 with underline */
.curve-title {
  font-family: "Miki", sans-serif;
  font-size: 38px;
  color: blue;
  font-weight: 400;
  position: relative;
  display: inline-block; 
  margin: 20px auto 0;
}

/* Curved underline */
.curve-title::after {
  content: "";
  position: absolute;
  bottom: -72px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height:80px;
  background-image: url("assets/book-underline.png");
  background-repeat: no-repeat;
  background-size: contain;
}

img {
    margin-top: 10%;
  width: 90%; 
  height: auto;
  display: block;
  margin: 0px auto 0 auto; 
}

.text-container {
    text-align: justify;
    font-family: "afacad", sans-serif;
    font-weight: 400;
    width: 90%;
    margin: 0 auto 40px auto;
    font-size: 18px;
    line-height: 1.6;
    color: #2727FF;
}

