/* Title */
@font-face {
  font-family: "Miki";
  src: url("font/MikiesChristmasList.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "afacad";
  src: url("font/Afacad-VariableFont_wght.ttf") format("trueType");
  font-weight: normal;
  font-style: bold;
}

* {
  box-sizing: border-box;
}

body, h1, p {
  margin: 0;
  padding: 0;
}

/* Body */
body {
  font-family: "afacad", sans-serif;
  background-color: #ffffff;
}

/* Center wrapper */
.title-wrapper {
  width: 100%;
  text-align: center;
}

/* H1 with underline */
.curve-title {
  font-family: "Miki", sans-serif;
  font-size: 38px;
  color: blue;
  font-weight: 400;
  position: relative;
  display: inline-block;
  margin-top: 10px;   
  margin-bottom: 0;   
}

/* Curved underline */
.curve-title::after {
  content: "";
  position: absolute;
  bottom: -40px; 
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 50px;
  background-image: url("assets/book-underline.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.custom-images {
  position: relative;
  width: 100%;
  height: 900px; 
  margin: 0 auto 20px auto;
  overflow: visible;
}

.free-img {
  position: absolute;
  border-radius: 10px;
  cursor: grab;
  object-fit: cover;
}

.img-1 {
  top: 0px;
  left: 5%;
  width: 90%;
}

.img-2{
    top: 73%;
    left: 5%;
    width: 44%;
}

.img-3 {
  top: 73%;
  right: 5%;
  width: 44%;
}

.img-4 {
  top: 130%; 
  left: 19%;
  width: 30%;
}

.img-5 {
  top: 130%; 
  right: 19%;
  width: 30%;
}

.img-6 {
  top: 172%; 
  left: 15%;
  width: 70%;
}

/* Ensure text stays below images */
.text-container {
  text-align: justify;
    font-family: "afacad", sans-serif;
    font-weight: 400;
    width: 80%;
    margin: 0 auto 40px auto;
    font-size: 18px;
    line-height: 1.6;
    color: #2727FF;
  margin-top: 97%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
